@import url(./imports/calls.css);
@import url(./imports/index.css);
@import url(./imports/stock.css);
@import url(./imports/areas.css);
@import url(./imports/pedidoToner.css);
@import url(./imports/orderGernerator.css);
:root{
    --color1: #3E5A5E;
    --color2: #52D0E3;
    --color3: #94D5DF;
    --color4: #22565E;
    --color5: #71A3AB;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--color4);
}
.logo{
    position: absolute;
    top: 0px;
    right: 30px;
}
h1{
    margin-top: 10rem;
    color: white;
    text-align: center;
    font-size: 3em;
}
h3{
    color: white;
    text-align: center;
    font-size: 2em;
}
::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color4); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color2); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color3);
   
  }
  
  