@import url(../main.css);

.tableOfficeContainer {
    font-family: Arial, sans-serif;
    width:  50% ;
    margin: 45px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addOffice,
.editOffice{
    width:  10% ;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addOffice input[type="text"],
.editOffice input[type="text"]{
    margin-bottom: 6px;
    background-color: var(--color1);
    border-style: none;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}
.addOffice input[type="submit"]{
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--color4);
    
}