@import url(../main.css);
.toner-delivery{
    width:  50% ;
    margin: 45px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toner-delivery input[type="text"],
.toner-delivery input[type="number"]{
    margin-bottom: 6px;
    background-color: var(--color1);
    border-style: none;
    font-size: 2.3rem;
    text-align: center;
    color: white;
}
.toner-delivery input[type="text"]::placeholder
.toner-delivery input[type="number"]::placeholder{
    color: white;
}
.toner-delivery input[type="text"]:focus,
.toner-delivery input[type="number"]:focus{
    outline: none;
}
.toner-delivery input[type="submit"]{
    width: 100px;
    height: auto;
    color: var(--color4);
}
.control{
    width:  20% ;
    margin: 45px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control .area img{
    width: 4.2em;
}
.toners-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.delivery{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color1);
}
.closeBtn{
    width: 5%;
    height: auto;
}
.closeBtn:hover{
    cursor: pointer;
}